<div class="container">
	<h1>Category Name</h1>
	<%= link_to "Back", categories_path , :class => "btn btn-primary" %>
 
	<table class="table table-striped">
		<thead>
			<th>Name</th>
			<th>Actions</th>
		</thead>
		<tr>
			<td><%= @category.name %></td>
			<td>
				<%= link_to "Edit", edit_category_path(@category), :class => "btn btn-warning" %>
				<%= link_to "Delete", @category , method: :delete , data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
			</td>
		</tr>
	</table>		

	<h2>Product List</h2>
	<div class="row">
		<% @category.products.each do |product| %>
			<div class = "card col-5 bg-light m-3">
				<div class ="container p-2">			
					<h1 class= "text-center"><strong> <%= product.name %></strong></h1>
					<div class="text-center"><%= image_tag product.image.url, :width => "70%" %></div><br>
					<p class= "ml-5"><strong> Rs : </strong><strong class= "text-success"><%= product.price %></strong>/-</p>
					<%= link_to "View Product", product_path(product), :class =>"btn btn-dark" %>					
					<%= link_to "Add To Cart", add_to_cart_path(product), method: :post, :data => { :confirm => "Are sure to add product into cart?"}, :class => "btn btn-warning" %>
					<%= link_to "Buy Now", buy_now_path(product), method: :post, :class => "btn btn-success m-1" %> </p>
				</div>
			</div>
		<% end %>
	</div>	
</div>		